.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: #fff;
  
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  display: flex;
  flex-direction: column;  /* Aligns text and button vertically */
  justify-content: center;  /* Centers them vertically within the popup */
  align-items: center;  /* Centers content horizontally */
}

.popup p {
  font-size: 25px;
  margin-bottom: 20px;
  color: white;
}

.close-button {
  background-color: #ff7043;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
  margin-top: 20px;  /* Adds spacing between text and button */
}

.close-button:hover {
  background-color: #ff5722;
}

.categories-page {
  background-color: #fff5e1;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #ff7043;
  color: white;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  
}

.category-item {
  text-align: center;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.category-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.category-icon {
  font-size: 48px;
  color: #ff7043;
  margin-bottom: 10px;
}

.category-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}


