body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff5e1;
    color: #333;
    padding-bottom: 0.5vh;
  }
  
  .content-doc {
    padding: 10px 30px;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
  }
  
  .section {
    padding: 20px 25px 40px 25px;
    margin-bottom: 40px;
    border-bottom: 4px solid rgb(71, 71, 71);
    width: 90%; 
    margin: 0 auto 40px auto;
}
  
  .section h2 {
    font-size: 24px;
    color: #ff7043;
    margin-bottom: 20px;
  }
  
  .section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .section ul {
    padding-left: 20px;
  }
  
  .section ul li {
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  .footer {
    text-align: center;
    padding: 10px;
    background-color: #ff7043;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  