/* Main page layout */
.favorites-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-bottom: 5vh;
}

/* Header styling */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffcc99;
  color: #000;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

/* Favorites list container */
.favorites-list {
  color: #777;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Favorite item styling */
.favorite-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #ff9933;
  border-radius: 10px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.favorite-image {
  width: 100%;
  max-width: 600px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.favorite-name {
  font-size: 24px;
  font-weight: bold;
  color: #ff9933;
}

.remove-favorite-button {
  background-color: #ff9999;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
  transition: background-color 0.3s ease;
}

.remove-favorite-button:hover {
  background-color: #ff4d4d;
}

.search-bar-container-fav {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Adds space between the search bar and button */
  margin: 1rem 0;
}

.search-bar-fav {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #ddd;
  border-radius: 25px;
  padding: 10px 15px;
  background-color: white;
  font-size: 18px;
}

.reset-button {
  margin-left: 0.5rem; /* Space between input and button */
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: #ff8800;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #ff7300;
}