.mains-page {
  font-family: Arial, sans-serif;
  background-color: #fff5e1;
  /* Add bottom padding here */
  padding-bottom: 80px;
}
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff7043;
    color: white;
    padding: 10px 10px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .mains-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
  }
  
  .main-item {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
  }
  
  .main-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .main-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .main-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .starters-page {
    font-family: Arial, sans-serif;
    background-color: #fff5e1;
    /* Add bottom padding here as well */
    padding-bottom: 80px;
  }
  
  .starters-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
  }
  
  .starter-item {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
  }
  
  .starter-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .starter-image {
    width: 100%;
    height: 150px; /* Fixed height for all images */
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    border-radius: 10px; /* Optional: Rounded corners for consistency */
    margin-bottom: 10px;
  }
  
  
  .starter-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  